.container {
  @apply transition p-2;
  animation: FloatIn ease-in-out 1s;
}

.container_fit {
  @apply w-full md:w-1/2 lg:w-1/3 z-0;
}

.container_full {
  @apply fixed top-0 left-0 w-screen h-screen;
  @apply flex flex-col justify-center items-center;
  @apply backdrop-blur-lg z-40;
}

.card {
  @apply rounded-2xl;
}

.container_fit .card {
  @apply bg-gray-100 transition hover:bg-gray-50 h-full p-3;
}

.container_full .card {
  @apply p-7 bg-white border shadow shadow-2xl m-3 md:w-2/3 lg:w-1/2
}

.button {
  @apply flex flex-row items-center p-3 md:py-1 rounded-xl md:rounded-full;
}

.button>span {
  @apply hidden md:block;
}

.primary_button {
 @apply button bg-gradient-to-r from-blue-500 to-cyan-500 text-white font-semibold px-3;
}

.secondary_button_hidden {
  @apply button bg-gray-100 text-gray-400 px-3;
}

.secondary_button_active {
  @apply button text-white bg-gray-900 pl-1 pr-3;
}

@keyframes FloatIn {
   0%  { transform: translate(0, 200px); opacity: 0 }
   20% { transform: translate(0, 160px); opacity: 0 }
   100%{ transform: translate(0, 0);     opacity: 1 }
}

